<div class="d-flex">
  <app-exam-list (showExamList)="showExamTable()"></app-exam-list>  

  <div class="container p-4">
    <ng-container *ngIf="showTable">
      <h2 class="text-primary">Available Exams</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Exam Code</th>
            <th>Exam Name</th>
            <th>Notes</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let exam of exams">
            <td>{{ exam.exam_code }}</td>
            <td>{{ exam.name }}</td>
            <td>{{ exam.notes }}</td>
            <td>
              <button class="btn btn-success btn-sm me-2" (click)="selectExam(exam.name)">Start Exam</button>
              <button class="btn btn-warning btn-sm" (click)="practiceExam(exam.name)">Practice</button>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>

    <app-exam-view 
      *ngIf="selectedExam" 
      [examName]="selectedExam"
      [practiceMode]="isPracticeMode"
      [shuffleQuestions]="true">
    </app-exam-view>
  </div>
</div>
